<div id="<%= dom_id url %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Target url:</strong>
    <%= url.target_url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Short url:</strong>
    <%= url.short_url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= url.title %>
  </p>

</div>
