<div class="flex flex-col justify-evenly items-center h-auto w-auto rounded-lg px-8 pt-6 pb-8 mb-4 border-4 border-dashed mt-10 space-y-5 text-center">
  <p class="text-xl lg:text-4xl text-bold text-white">You don't have any short URLs.</p>
  <p class="text-xl lg:text-4xl text-bold text-white">Go make one!</p>
  <%= link_to "Create a New Short URL", root_path, class: "bg-primary hover:opacity-60 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-1/2 text-sm lg:text-base" %>
</div>